

.build1 {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 400px;
    height: 300px;
    background-color: lightgray;
    border: 3px solid black;
    z-index: 1;
}
.build2 {
    position: absolute;
    left: 500px;
    top: 300px;
    width: 400px;
    height: 300px;
    background-color: lightgray;
    border: 3px solid black;
    z-index: 2;
}
.roof-middle {
    position: absolute;
    left: 300px;
    top: 100px;
    width: 650px;
    height: 200px;
    background-color: brown;
    z-index: 3;
}
.roof-right { 
    position: absolute;
    left: 550px;
    top: -100px;
    border: 200px solid transparent;
    border-right: 200px solid white;
    z-index: 4;
}
.roof-left-1 { 
    position: absolute;
    left: 90px;
    top: -100px;
    border: 200px solid transparent;
    border-bottom: 200px solid brown;
    z-index: 5;
}
.roof-left-2 { 
    position: absolute;
    left: 290px;
    top: 100px;
    border: 5px solid transparent;
    border-top: 5px solid brown;
    z-index: 6;
}
.roof-left { 
    position: absolute;
    left: 100px;
    top: -100px;
    border: 200px solid transparent;
    border-bottom: 200px solid lightgray;
    z-index: 7;
}
.window-roof {
    position: absolute;
    left: 225px;
    top: 120px;
    border: 70px solid transparent;
    border-bottom: 70px solid rgb(95, 10, 10);
    z-index: 8;
}
.window-roof-glass {
    position: absolute;
    left: 235px;
    top: 135px;
    border: 60px solid transparent;
    border-bottom: 60px solid rgb(82, 198, 252);
    z-index: 9;
}
.flue {
    position: absolute;
    left: 600px;
    top: 30px;
    width: 50px;
    height: 120px;
    background-color: rgb(95, 10, 10);
    border: 1px solid black;
    z-index: 10;
}
.door img{
    position: absolute;
    left: 250px;
    top: 385px;
    width: 100px;
    z-index: 11;
}
.window img{
    position: absolute;
    left: 600px;
    top: 350px;
    width: 180px;
    z-index: 12;
}
.grass {
    position: absolute;
    left: 50px;
    top: 600px;
    width: 900px;
    height: 10px;
    background-color: green;
    z-index: 13;
}